<div>
    <div>
        <h3>{{ player.gamerTag }}</h3>

        <table>
            <thead>
                <tr>
                    <th>Rango</th>
                    <th>HS%</th>
                    <th>Promedio Kills</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        {{ player.rank }}
                    </td>
                    <td>
                        {{ currentAverageStats.hPercentage | number: "1.1-1" }}%
                    </td>

                    <td>
                        {{ currentAverageStats.kills| number: "1.0-0" }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
