<main class="d-flex">
  <div class="container-fluid">
    <header class="d-none">
      <div class="d-flex">
        <img src="assets/images/logo-only.svg" alt="Logo Setup Team" width="100">
        <h1 class="my-auto d-block"><span class="text-primary">Setup</span><span class="text-secondary">Team</span></h1>
      </div>
    </header>

    <div class="engine-container position-relative">
      <img class="position-absolute engine rotate-engine " src="assets/images/engine.svg" alt="">
    </div>
  </div>
</main>
<router-outlet/>
