<main class="d-flex">
  <div class="container-fluid">
    <header class="d-none">
      <div class="d-flex">
        <img src="assets/images/logo-only.svg" alt="Logo Setup Team" width="100">
        <h1 class="my-auto d-block"><span class="text-primary">Setup</span><span class="text-secondary">Team</span></h1>
      </div>
    </header>

    <div class="engine-container position-relative">
      <img class="position-absolute engine rotate-engine" src="assets/images/engine.svg" alt="">
      <svg class="position-absolute engine-blank z-2" viewBox="0 0 300 300">
        <polygon points="104.2114 150, 398.96577 444.75437, 398.96577 -144.75437"/>
      </svg>
      <div class="w-100 d-flex" style="height: 100vh;">
        <h1 class="text-center align-middle w-100 my-auto z-3 text-primary-st coming-soon">Próximamente</h1>
      </div>
    </div>
  </div>
</main>
<router-outlet/>
