<div class="animation">
    <div stdevAnimationLayer layerId="logo" class="layer logo-layer">
        <div class="top-blank bg-shiny"></div>
        <div class="logo-bg bg-shiny z-0"></div>
        <svg class="logo-svg z-1" viewBox="-1310 -100 4000 1224" version="1.1"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g class="engine-g">
                <path
                class="engine fill-primary rotate-engine-anim"
                d="m 424.1543,0 -23.38477,103.22852 a 424.15469,424.15469 0 0 0 -98.70117,41.36523 
                L 212.07812,87.845703 87.845703,212.07812 144.59375,302.06836 a 424.15469,424.15469 0 0 0 -41.36523,98.70117 
                L 0,424.1543 v 175.6914 l 103.22852,23.38477 a 424.15469,424.15469 0 0 0 41.36523,98.70117 
                L 87.845703,811.92188 212.07812,936.1543 302.06836,879.40625 a 424.15469,424.15469 0 0 0 98.70117,41.36523 
                L 424.1543,1024 h 175 l 23.73632,-103.1543 a 424.15469,424.15469 0 0 0 99.04102,-41.43945 
                L 811.92188,936.1543 936.1543,811.92188 879.40625,721.93164 A 424.15469,424.15469 0 0 0 920.8457,622.89062 
                L 1024,599.1543 v -175 L 921.20898,400.86914 A 424.15469,424.15469 0 0 0 879.9375,301.22656 
                L 936.1543,212.07812 811.92188,87.845703 722.77344,144.0625 A 424.15469,424.15469 0 0 0 622.78516,102.69336 
                L 599.1543,0 Z 
                M 512,193.88477 A 318.116,318.116 0 0 1 830.11523,512 318.116,318.116 0 0 1 512,830.11523 318.116,318.116 0 0 1 193.88477,512 318.116,318.116 0 0 1 512,193.88477 Z" />
            </g>
            <path class="engine-blank fill-shiny"
                d="M 299.92265 512, 1148.23203 1360.30937, 1148.23203 -336.30937 Z"/>
            <rect class="fill-primary circuit-main-line"
                x="632" y="496" width="268" height="32"/>
            <rect class="fill-primary circuit-middle-diag-line"
                x="900" y="496" width="270" height="32" transform="rotate(-22.5, 900, 496)"/>
            <rect class="fill-primary circuit-bottom-diag-line"
                x="900" y="496" width="268" height="32" transform="rotate(45, 900, 496)"/>
            <rect class="fill-primary circuit-top-ver-line"
                x="638" y="500" width="32" height="140" transform="rotate(180, 670, 500)"/>
            <rect class="fill-primary circuit-top-hor-line"
                x="670" y="360" width="140" height="32"/>
            <rect class="fill-primary circuit-top-diag-line"
                x="794" y="355.71" width="400" height="32" transform="rotate(-30, 810, 360)"/>
            <rect class="fill-primary circuit-middle-hor-line"
                x="1149.4474" y="392.6754" width="180" height="32"/>

            <rect class="fill-primary decor-1-square"
                x="642" y="200" width="100" height="100"/>
            <rect class="fill-emphasis decor-2-square"
                x="450" y="260" width="70" height="70"/>
            <rect class="fill-primary decor-3-square"
                x="250" y="400" width="100" height="100"/>
            <rect class="fill-emphasis decor-4-square"
                x="320" y="650" width="70" height="70"/>
            <rect class="fill-primary decor-5-square"
                x="500" y="700" width="60" height="60"/>
            <rect class="fill-emphasis decor-6-square"
                x="650" y="710" width="80" height="80"/>
            
            <circle class="fill-primary circuit-main-circle" cx="512" cy="512" r="130"/>
            <circle class="fill-primary circuit-top-circle" cx="1156" cy="176" r="50"/>
            <circle class="fill-primary circuit-middle-circle" cx="1329" cy="408" r="50"/>
            <circle class="fill-primary circuit-bottom-circle" cx="1089" cy="701" r="50"/>
        </svg>

        <div class="logo-name-spacer">
        </div>

        <h1 class="logo-name m-0 mb-4 z-1">
            <span class="text-primary-st logo-capital-s-letter">S</span>
            <span class="text-primary-st logo-etup-letters">etup</span>
            <span class="text-emphasis logo-capital-t-letter">T</span>
            <span class="text-emphasis logo-eam-letters">eam</span>
        </h1>
    
        <svg width="24" height="12" viewBox="0 0 100 50" class="play-logo-anim-btn z-1 mb-1">
            <path d="M 0 0 50 50 100 0 Z" class="fill-emphasis"/>
        </svg>
    </div>
    
    <div stdevAnimationLayer layerId="test" class="test layer">
        <h1 class="text-primary-st">Bienvenido</h1>
    </div>
</div>